template
build
.secrets
.vscode
.DS_Store
.idea
*.log
*.tmp
node_modules
dist
.env
.env.local
.env.*.local
*.env
credentials.json
credentials.dev.json
credentials.prod.json
credentials.test.json
*.iml
yolo11/
faasd/
__pycache__/
*.pyc
imagens/
kubeconfig
kubernetes_walkthrough_baremetal.txt

